<head> 
    <link rel="stylesheet" href="../css/rodape.css">
</head>   
    <footer class="footer-container">
        <div class="footer-content">
            <div class="footer-section" id="Contato">
                <h3>Contato</h3>
                <p>Email: contato@handebolam.com.br</p>
                <p>WhatsApp: (92) 98418-4450</p>
            </div>
            
            <div class="footer-section">
                <h3>Localização</h3>
                <p>Laboratório de Pedagogia do Esporte - UFAM</p>
                <p>Manaus, AM</p>
            </div>

            <div class = "brand-container">
                <h3>Realização</h3>
                <div class="footer-section">
                    <img src="../assets/patrocinadores/LIHAM_patrocinador.jpeg" alt="Logo">
                </div>

                <div class="footer-section">
                    <img src="../assets/patrocinadores/PPG_patrocinador.jpeg" alt="Logo">
                </div>

                <div class="footer-section">
                    <img src="https://semipe2025.com.br/files/uploads/pages/tSkQI6uH1740409007963.png" alt="Logo">
                </div>

                <div class="footer-section">
                    <img src="https://semipe2025.com.br/files/uploads/pages/ldIKJF0W1740408996877.png" alt="Logo" >
                </div>

                <div class="footer-section">
                    <img src="https://semipe2025.com.br/files/uploads/pages/NZmgWbGg1740409032189.png" alt="Logo" >
                </div>
            </div>
            </div>
        <div class="footer-bottom">
            <p>© 2025 Desafio Amazonense de Handebol Infantil</p>
        </div>
    </footer>