<head> 
    <link rel="stylesheet" href="../css/rodape.css">
</head>   
    <footer class="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contato</h3>
                <p>Email: contato@handebolam.com.br</p>
                <p>WhatsApp: (92) 98418-4450</p>
            </div>

            <div class="footer-section">
                <h3>Localização</h3>
                <p>Laboratório de Pedagogia do Esporte - UFAM</p>
                <p>Manaus, AM</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Desafio Amazonense de Handebol Infantil</p>
        </div>
    </footer>